---
import "../../styles/projectCard.css";

import type { Project } from "../../types/project";

interface Props {
  project: Project;
}

const getProjectStatus = (status: string) => {
  if (status === "completed") return "Completed";
  if (status === "in-progress") return "In Progress";
  if (status === "not-started") return "Coming Soon";
};

const { project } = Astro.props as Props;
---

<div class={`project ${project.status}`}>
  <span class="project-header">
    <h3 class="project-title heading-3">{project.title}</h3>

    <span class="project-link">
      <img
        src="/icons/hand.svg"
        alt="Web Search"
        title="Read more about this project"
      />

      <p class="heading-4">Hover to read more</p>
    </span>
  </span>

  <div class="project-details">
    <div class="left-side">
      <p class="heading-4">
        {
          project.description!.split("/").map((text) =>
            !text.includes("*") ? (
              text
            ) : (
              <>
                <span class="yellow-text">{text.replaceAll("*", "")}</span>
              </>
            )
          )
        }
      </p>
    </div>

    <div class="right-side">
      <div class="achievements">
        <h4 class="heading-4">Key Achievements</h4>
        <ul>
          {
            project.achivements.map((achievement) => (
              <li class="heading-4">{achievement}</li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>

  <div class="resume">
    <div class="project-status">
      <div class={`project-status-dot ${project.status}`}></div>
      <p class="heading-4">{getProjectStatus(project.status)}</p>
    </div>

    <div class="project-stack">
      {
        project.stack?.map((stack) => (
          <span class="heading-4">
            <img src={stack.icon} alt={stack.name} />
            {stack.name}
          </span>
        ))
      }
    </div>

    <div class="project-links">
      {
        project.code && (
          <a
            href={project.code}
            target="_blank"
            rel="noopener noreferrer"
            class="project-link-button code"
          >
            <p class="heading-4">Code</p>
            <img src="/icons/github.svg" alt="See code on GitHub" />
          </a>
        )
      }

      {
        project.link && (
          <a
            href={project.link}
            target="_blank"
            rel="noopener noreferrer"
            class="project-link-button web"
          >
            <p class="heading-4">Web</p>
            <img src="/icons/web_link.svg" alt="Visit web page" />
          </a>
        )
      }
    </div>
  </div>
</div>
